/****************Header***********************************/
header,footer{display:block;}
header{background:url(../imgs/gradient-blackwhite.png) 0 0 repeat-x;background-size:contain;}
.h_wrapper,#local_nav{position:relative;width:90%;max-width:960px;margin:0 auto;}
/**/
nav{background:none;width:100%;height:3.25em;display:block;position:relative;}
nav a#home{border-left:1px solid #ccc;}
nav a{color:#fff;text-decoration:none;padding:1em 10px;border-right:1px solid #ccc;margin:0;display:block;float:left;background:#000;}
nav a:hover{color:#F9D60A;}
nav a.selected{color:#F9D60A;cursor:default;}
nav a.selected:hover{color:#F9D60A;background:#000;}
nav h1 a{float:right; border:none;margin-left:.25em;padding:.5em 0 .5em 4.55em;line-height:1.75em;background:transparent url(../imgs/LOGO.png) 0 0 no-repeat;background-size:contain;color:#fff;font-size:1em;}
nav h1{font-size:1em;float:right;margin:0;font-weight:normal;}
nav h1 a:hover{background:transparent url(../imgs/LOGO.png) 0 0 no-repeat;background-size:contain;color:#F9D60A;}
.h_wrapper{padding:0 0 1em 0;}
.h_wrapper img{display:block;margin:0 auto;-webkit-box-shadow:0 0 10px 3px #000;-moz-box-shadow:0 0 10px 3px #000;box-shadow:0 0 10px 3px #000;}
.h_slider{position:relative;overflow:hidden;width:100%;height: ;}
.h_services,.entry,.prices{width:90%;max-width:960px;margin:1em auto;}
/****************Body***********************************/
/***************Home page***********************************/
.h_service{float:left;width:31%;background:#eee;margin-right:.75em;color:#000;}
.h_service:first-child{background:#eee url(../imgs/cleaning.png) right top no-repeat;background-size:contain;}
.h_service:nth-child(2){background:#eee url(../imgs/cleaning2.png) right top no-repeat;background-size:contain;}
.h_service:nth-child(3){margin-right:0;background:#eee url(../imgs/cleaning3.png) right top no-repeat;background-size:contain;}
.h_service h2{font-size:1.1em;width:50%;padding-left:0.5em;}
.h_service a,.h_service2 a{display:inline-block;color:#fff;text-decoration:none;padding:1em 10px;margin:0;background:#000;width:auto;}
.h_service a:hover,.h_service2 a:hover{color:#F9D60A;}

.h_service2{width:30%;float:left;margin-right:1em;}
.h_service3{width:60%;float:left;}

.h_service2 h2,.h_service3 h2{font-size:1.25em;width:100%;border:none;}
.h_service2 a{display:inline-block;color:#fff;text-decoration:none;padding:1em 10px;margin:.25em 0;background:#000;width:90%;}

/****************ClearFix**********************************/
.clear_fix {
	width: 100%;
	height: 1px;
	display: block;
	clear: both;
	visibility: hidden;
}
.clear_fix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	width: 100%;
}
.clear_fix {
	display: inline-block;
}
/****************Services**********************************/

.entry{}
.service{width:98%;padding:1%;}
.entry img{display:block;}
.totop{float:left;clear:both;}
.totop a{color:#fff;text-decoration:none;padding:1em 10px;margin:.25em 0;background:#000;width:90%;}
.totop a:hover{color:#F9D60A;}

/****************Services**********************************/
.prices table{border:1px solid #000;}
table th{background:#999;color:#fff;text-align:left;}
.book p,.book img{display:inline;}
.book img{vertical-align:top;float:left;}
.book .text{float:left;width:80%;}
/****************Contact**********************************/
.form{width:90%;max-width:960px;margin:0 auto;background:url(../imgs/coverage.jpg) right center no-repeat;background-size: 50%;}
.formentry{width:95%;margin:0.75em 3%;}
label{background:#000;color:#F9D60A;padding:.25em;vertical-align: middle;display:block;width:20%;min-width:200px;margin-bottom:0;}
input{line-height:1.5em;}
#submit{background:#000;color:#fff;padding:1em 10px;}
#submit:hover{color:#F9D60A;}
.submition_results{display:block;width:90%;margin:0 auto;padding:1em;background:#000;color:#fff;}

/****************Footer***********************************/
footer{width:90%;margin:0 auto;padding:0;max-width:960px;}
.f_left{float:left;line-height:1.75em;}
.f_left a,.f_right a{color:#000;text-decoration:none;font-weight:bold;font-style:italic;}
.f_left a:hover,.f_right a:hover{color:#F9D60A;text-decoration:underline;padding:0.1em;background:#000;}
.f_right{float:right;line-height:1.75em;}





/******************************************************************************/
/******************************************************************************/
/************************** 480px<768px ***************************************/
@media all and (min-width:480px)and (max-width:768px){
	nav{height:5.75em;}
	nav h1{float:left;clear:right;width:100%;}
    nav h1 a{float:none;line-height:2em;padding-left:4.75em;}
    /*********services**********/
    #local_nav{font-size:0.85em;}
    #local_nav a{width:50%;margin-bottom:0.1em;}
    .h_services{width:80%;margin:0 auto;padding:0;}
    .h_service{float:none;width:90%;margin:0 auto;}
    .h_service:nth-child(3){margin:0 auto;}
    .book .text{float:left;width:75%;}
   /*************contact****************/
  .form{background-size: 45%;}
}






/******************************************************************************/
/******************************************************************************/
/************************** 0<480px ***************************************/
@media all and (max-width:479px){
    body{font-size:0.8em;}
    nav{height:5em;}
    nav h1{float:left;clear:right;width:100%;}
    nav h1 a{float:none;line-height:1.75em;padding-left:4.55em;}
    .h_slider img{display:none;}
    .h_service{width:100%;margin-bottom:1em;}
    .h_service2{display:none;}
    .h_service3{float:none;width:90%;margin:0 auto;}
    /*********services**********/
    #local_nav a{width:80%;margin-bottom:0.1em;}
    .entry img{display:none;}
    .book .text{width:95%;}
    /*************contact****************/
  .form{background: none;}
    /****************Footer***************/
    .f_right{float:left;}
}
